<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="row">
    {% block header %}
    <div class="col-12" style="background-color: antiquewhite;">
        <div class="row">
            {% for page in pages %}
                {% if page.is_home %}
                <a class="col-2" href="/{{ language_obj.meta_name }}">
                    <h3>{{ page.title }}</h3>
                </a>
                {% elif language_obj.meta_name != ' ' %}
                    <a class="col-2" href="{% url 'page' url=language_obj.meta_name url_2=page.url %}"><h3>{{page.title}}</h3></a>
                {% else %}
            <a class="col-2" href="{% url 'page-lang-default' url=page.url %}">
                <h3>{{page.title}}</h3>
            </a>
                {% endif %}
            {% endfor %}

            <div class="col-2 ml-auto">
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ language_obj.name }}
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {% for lang in current_language_page_info %}
                      {% if lang.url|length <= 1 and lang.meta_name|length == 2 %}
                        <a class="dropdown-item" href="{%  url 'page-lang-default' lang.meta_name %}">{{ lang.name }}</a>
                      {% elif  lang.url|length >= 2 and lang.meta_name|length == 2 %}
                        <a class="dropdown-item" href="{%  url 'page' url=lang.meta_name url_2=lang.url %}">{{ lang.name }}</a>
                      {% elif lang.url|length >= 2 and lang.meta_name|length < 2 %}
                        <a class="dropdown-item" href="{%  url 'page-lang-default' url=lang.url  %}">{{ lang.name }}</a>
                      {% else %}
                        <a class="dropdown-item" href="{%  url 'home' %}">{{ lang.name }}</a>
                      {% endif %}
              {% endfor %}
              </div>
            </div>
            </div>
            <a class="col-1" href="{% url 'logout' %}"><h4>logout</h4></a>
        </div>
    </div>
    {% endblock %}
 {% block content %}
 {% endblock %}
</div>
</body>
 {% block script %}
     <script type="text/javascript">
        $(function () {
            $('#lang_select').change(function () {
                let url = '{{ lang_all.0.url }}';
                let lang_default = '{{ base_default_lang }}';
                let meta_legn = $(this).val();
                console.log(meta_legn.slice(1, 3))
                if (lang_default == meta_legn.slice(1, 3)) {
                    console.log(meta_legn.slice(1, 3))
                    $(location).attr('href', '/'+ url)
                }
                $(location).attr('href', meta_legn)
            })

        })
     </script>
 {% endblock %}
</html>